.nav {
  background-color: grey;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
}

.link {
  text-decoration: none;
  color: antiquewhite;
  padding: 0 10px;

  
}

.link:hover {
    scale: 1.1;
}

.link.active{
    color: blueviolet;
}